<div class="navbar">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Saeam Kwon</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href=/about-me>About Me</a></li>
              <li><a href=/portfolio>Portfolio</a></li>
              <li><a href=/blog>Blog</a></li>
              <li><a href=/photography>Photography</a></li>
              <li><a href=/contact-me>Contact Me</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
